**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

.git
.gitignore

.vscode
idea/
.vs/

venv/
env/
.venv/

node_modules/
dist/
build/

k8s/
*.db
*.sqlite3

*.log


.history
tempCodeRunnerFile.py
.ruff_cache
token.json
ver.py
helper
fwe.py
dew.py