apiVersion: v1
kind: Service
metadata:
  name: app
spec:
  type: LoadBalancer   # или ClusterIP
  selector:
    app: app       # <-- совпадает с label у Pod
  ports:
    - name: http
      port: 8000
      targetPort: 8000