apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  ports:
    - name: "5432"
      port: 5432       # порт для приложения
      targetPort: 5432 # порт внутри контейнера
  selector:
    app: db
